.person {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 24px;
}

.person__avatar {
    width: 96px;
    height: 96px;
    border-radius: 2px;
    overflow: hidden;
    background-color: var(--grey-light);
}

.person__avatar img {
    width: 100%;
    height: 100%;
}

.person__details {
    display: flex;
    flex: 1;
    padding-left: 24px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.person__details h3 {
    color: var(--black);
    line-height: 1.5;
    font-size: 16px;
    margin: 0 0 8px 0;
}

.person__details p {
    margin: 0;
    font-size: 14px;
    line-height: 1.5;
    color: var(--grey-dark);
}

@media only screen and (max-width: 400px) {
    .person__avatar {
        width: 72px;
        height: 72px;
    }
    .person__details h3 {
        font-size: 14px;
    }
    .person__details p {
        font-size: 12px;
    }
}