.search-bar {
    width: 100%;
    height: 40px;
    margin-top: 43px;
    margin-bottom: 43px;
}

.search-bar__wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

.search-bar input {
    width: 100%;
    height: 100%;
    background-color: var(--off-white);
    border-radius: 4px;
    border: none;
    padding-left: 32px;
    padding-right: 40px;
    font-family: 'Helvetica Neue';
    font-size: 14px;
    color: var(--black);
}

.search-bar input:focus {
    outline-color: var(--teal);
}

.search-bar input::placeholder {
    color: var(--grey-medium);
    font-weight: 400;
}

.search-bar__icon {
    display: flex;
    position: absolute;
    top: 50%;
    left: 16px;
    height: 12px;
    width: 12px;
    margin: 0;
    transform: translateY(-50%);
}

.search-bar__clear-button-wrapper {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    height: 16px;
    width: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid var(--grey-light);
}

.search-bar__clear-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 16px;
    background-color: transparent;
    border: none;
    padding: 0px;
}

.search-bar__clear-button svg {
    width: 100%;
    height: 100%;
}