.app {
  width: 100%;
  border-top: 3px solid var(--teal);
  padding: 20px 24px 20px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.app__logo {
  width: 100%;
  padding-left: 133px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.app__logo figure {
  width: 60.39px;
  height: 24px;
  margin: 0;
}

section.app__content {
  width: 100%;
  max-width: 561px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding-top: 105px;
}

.app header {
  font-family: 'Georgia';
  font-size: 40px;
  color: var(--blue);
  margin-bottom: 50px;
}

.app__description {
  font-size: 16px;
  margin: 0;
  line-height: 1.5;
  color: var(--black);
}

@media only screen and (max-width: 840px) {
  .app__logo {
    max-width: 561px;
    padding: 0;
  }
}

@media only screen and (max-width: 400px) {
  .app__logo {
    max-width: 561px;
    padding: 0;
  }
  .app header {
    font-size: 32px;
    margin-bottom: 32px;
  }
  .app__description {
    font-size: 12px;
  }
}