body {
  background-color: var(--white);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Georgia';
  src: local('Georgia'), url(./assets/fonts/Georgia-Regular.ttf) format('truetype');
}

p {
  font-family: 'Helvetica Neue';
  font-style: 'normal';
}

:root {
  --teal: #33DBDB;
  --blue: #102261;
  --black: #333333;
  --grey-dark: #666666;
  --grey-medium: #808080;
  --grey-light: #C4C4C4;
  --off-white: #EFEFEF;
  --white: #FFFFFF;
}